$light_grey: #f2f2f2;
$grey: #c6c6c6;
$dark_grey: #757575;


$orange: #fea81a;
$blue: #4d90fe;


$primary_color: $blue;
$secondary_color: $orange;


.top-container{
    padding-top: 2%;
    padding-bottom: 2%;
        &:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    }

}


.top-header{
    background-color: $primary_color;
    width: 100%;
    text-align: center;
    input[type="text"]{
        border:none;
        margin-right: 0.5rem;
        padding: 0.7rem;
        height:55px;
        width:50%;
        @media screen and (max-width: 655px) {
            display:block;
            width:100%;
            margin-bottom: 1rem;
        }
    }
    input[type="submit"]{
        font-size: 1.1rem;
        padding: 0.7rem 1.2em;
        height:55px;
        vertical-align: top;
        @media screen and (max-width: 655px) {
            font-size: 1.4rem;
            padding: 1em;
            height:auto;
            display:block;
            width:100%;
        }
        background-color: $primary_color;
        border: 1px solid white;
        color:white;
            transition: background-color 0.2s ease;
        &:hover{
        background-color: white;
        color:$primary_color;
        cursor: pointer;

    }

    }

    .logo{
        color:white;
        position:relative;
        margin:0;
        float:left;
        height:100%;
        @media screen and (max-width: 655px) {
            float:none;
            display:block;
            margin-bottom: 2rem;
        }
    }
    form{
        top:25.5px;
        text-align: right;
        overflow:hidden;
        height:100%;
        position:relative;
        @media screen and (max-width: 655px) {
            position:initial;
        }
    }

}

.checkboxes{

    text-align: left;
    margin-top: 1rem;

}

h2{
    font-weight: normal;
    margin:0;
    clear:both;
    margin-bottom: 1em;
}

#carbonads , .ab-msg{
    float:right;
    margin:0;
    @media screen and (max-width: 650px) {
        max-width:100%;
    }
    margin-bottom: 1rem;

}

.carbon-img {

}
.carbon-text { 
}