
{% spaceless %}
{% for image in images  %}
    <li class="image">
    <img src="{{ image.thumbnail.url }}" >
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
    <div class="overlay">
        <a href="{{ image.page_url}} " target="_blank" class="button download" id='{{image.pk}}'>
        Download <span class="origin">at <strong>{{image.get_origin_display}}</strong></span>
        </a><br>
        <ul class="tags">
            {% for tag in image.tags.all|slice:':10' %}
                <li><a href='/search/?query={{tag}}'>{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
    </li>
{% endfor %}
{% endspaceless %}
<script>
var last_page
if ("{{ last_page }}" == "True"){
  last_page = true;
}
else{
  last_page = false;
}
$("img").one("load", function() {
  $(this).parent().find('.spinner').hide();
}).each(function() {
  if(this.complete) $(this).load();
});
</script>