{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}
    StockSearch - search through thousands of commercial free stock photos
    {% endblock title %}</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    {% block head %}
        
    {% endblock head %}
</head>
<body>
<div class="container">
{% block body %}
{% endblock body %}
</div>
</body>
</html>