{% extends "base.html" %}
{% load staticfiles %}
 {% load humanize %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/home.css" %}">
{% endblock head %}

{% block body %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.5&appId=1475525732751150";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<div class="top-bar">
  <div class="container">
  <ul>
    <li><a href="{% url 'about' %}">About</a></li>
    <li><div class="fb-like" data-href="https://www.facebook.com/LibreStock/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div></li>
    <li><a href="https://twitter.com/libre_stock" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @libre_stock</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script></li>
  <li><div class="g-follow" data-href="https://plus.google.com/111687744879945527894" data-rel="publisher" data-annotation='none'></div></li>
  </ul>
  </div>
</div>
<div class="container">
<header class="main-header">
    <a href="{% url 'home' %}"><img src="{% static "images/BlueLogo.png" %}" alt="LibreStock" style="height:150px"/></strong></a>

<h2 class="tagline"> search the best <strong>{{ origins|length }}</strong> free stock photo websites in one place</h2>
    <h4 class="tagline"><strong>{{total_image_count|intcomma}}</strong> high quality <a href="https://creativecommons.org/publicdomain/zero/1.0/" target='_blank'>do-what-ever-you-want</a> stock photos, <a href="{% url 'about' %}">learn more</a>.</h2>
    <form action='/search' method="GET" id="search-form">
        <div class="search-box"><input type="text" name="query" placeholder="eg: cute puppies"></div>
        <a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flibrestock.com%2F" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Flibrestock.com%2F', 'newwindow', 'width=900, height=300'); return false;" class="facebook share" id="facebook-share">Share!</a>
        <a href="http://twitter.com/intent/tweet?status=LibreStock+http%3A%2F%2Flibrestock.com%2F" onclick="window.open('http://twitter.com/intent/tweet?text=search%20more%20than%2040%20free%20stock%20photo%20websites%20in%20one%20place!&url=http%3A%2F%2Flibrestock.com%2F&via=libre_stock', 'newwindow', 'width=900, height=300'); return false;" class="twitter share" id="twitter-share">Tweet!</a>
        <button type="button" class="secondary-button filter-button">Filter websites</button>
        <div class="checkboxes">
        {% for origin in origins  %}
        <div class="origin">
          <input type="checkbox" id="{{origin.0}}-checkbox" name="origin" value="{{ origin.0 }}" checked> 
          <label for="{{origin.0}}-checkbox">
              {{ origin.1 }}
          </label> 
          </div>
        {% endfor %}
        </div>
        <input type="submit" class="main-button" value="Find Photos">
    </form>
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1696&serve=CVYD42T&placement=librestockcom" id="_carbonads_js"></script>
</header>

<div class="popular-tags">
<h3>popular tags</h3>
    {% for tag in tags  %}
        <a href='/search/?query={{tag}}'>#{{ tag }}</a>
    {% endfor %}
</div>
<ul class="photos">
{% include "_images.html" %}
</ul>
{% if not last_page %}
  <button class="main-button load-more">Load more results</button>
{% endif %}
<div class="sk-circle" id="preloader">
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
  <div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/replace.js" %}"></script>
<script type="text/javascript">
var last_id = "{{ last_id }}";
</script>
<script type="text/javascript">
filter_button = $('.filter-button')
checkboxes = $('.checkboxes')

filter_button.on('click', function(){
  if (filter_button.hasClass('active')){
      checkboxes.slideToggle(function(){
        filter_button.toggleClass('active');
      });
  }
  else{
      filter_button.toggleClass('active');
      checkboxes.slideToggle();
  }

});

</script>
<script type="text/javascript" src={% static "js/infinite_scrolling.js" %}>
</script>
{% endblock body %}
