{% extends "base.html" %}
{% load staticfiles %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/search.css" %}">
{% endblock head %}


{% block body %}
<header class="top-header">
<div class="container top-container">
    <a class="logo" href="{% url 'home' %}"><img src="{% static "images/WhiteLogo.png" %}" alt="LibreStock" style="height:100px"/></strong></a>
    <form id="search-form">
        <div class="search-box">
        <input type="text" name="query" value="{{query}}">
        <input type="submit" class="main-button" value="Find Photos">
        </div>
        <div></div>
        <div class="checkboxes">
        {% for origin in all_origins  %}
        <div class="origin">
          <input type="checkbox" id="{{origin.0}}-checkbox" name="origin" value="{{ origin.0 }}" {% if origin.0 in origins_checked %}checked {% endif %}> 
          <label for="{{origin.0}}-checkbox">
              {{ origin.1 }}
          </label> 
          </div>
        {% endfor %}
        </div>
    </form>

    </div>
</header>
<div class="container">
<script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?zoneid=1696&serve=CVYD42T&placement=librestockcom" id="_carbonads_js"></script>
{%  if not results_amount %}
<h2>Nothing found for <strong>{{ query }}</strong></h2>
{% else %}
<h2>{{ results_amount }} Results for <strong>{{ query }}</strong>:</h2>
<ul class="photos">
{% include "_images.html" %}
</ul>
{% endif %}
{% if not last_page %}
  <button class="main-button load-more">Load more results</button>
{% endif %}
<div class="sk-circle" id="preloader">
  <div class="sk-circle1 sk-child"></div>
  <div class="sk-circle2 sk-child"></div>
  <div class="sk-circle3 sk-child"></div>
<div class="sk-circle4 sk-child"></div>
  <div class="sk-circle5 sk-child"></div>
  <div class="sk-circle6 sk-child"></div>
  <div class="sk-circle7 sk-child"></div>
  <div class="sk-circle8 sk-child"></div>
  <div class="sk-circle9 sk-child"></div>
  <div class="sk-circle10 sk-child"></div>
  <div class="sk-circle11 sk-child"></div>
  <div class="sk-circle12 sk-child"></div>
</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="{% static "js/replace.js" %}"></script>
<script type="text/javascript">
var last_id = "{{ last_id }}";

filter_button = $('.filter-button')
checkboxes = $('.checkboxes')

filter_button.on('click', function(){
  if (filter_button.hasClass('active')){
      checkboxes.slideToggle(function(){
        filter_button.toggleClass('active');
      });
  }
  else{
      filter_button.toggleClass('active');
      checkboxes.slideToggle();
  }

});

</script>
<script type="text/javascript" src={% static "js/infinite_scrolling.js" %}></script>
{% endblock body %}


