$light_grey: #f2f2f2;
$grey: #c6c6c6;
$dark_grey: #757575;


$orange: #fea81a;
$blue: #4d90fe;


$primary_color: $blue;
$secondary_color: $orange;


.container{
    padding-top: 4%;
            @media screen and (max-width: 645px) {
    padding-top: 42%;

        }
}
.top-container{
    @media screen and (max-width: 645px) {
    padding: 5%;
    }
    padding: 2%;
    max-width: 95vw;
    margin: 0 auto;
        &:after{
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
    }

}


.top-header{
    background-color: $primary_color;
    position: absolute;
    top:0;left:0;
    width: 100%;
    text-align: center;
    input[type="text"]{
        border:none;
        margin-right: 0.5rem;
        padding: 0.7rem;
        height:50px;
        width:40%;
        @media screen and (max-width: 645px) {
            display:block;
            width:100%;
            margin-bottom: 1rem;
        }
    }
    input[type="submit"]{
        padding: 0.7rem 1.2em;
        height:50px;
        vertical-align: top;
        @media screen and (max-width: 645px) {
            display:block;
            width:100%;
        }
        background-color: $primary_color;
        border: 1px solid white;
        color:white;
            transition: background-color 0.2s ease;
        &:hover{
        background-color: white;
        color:$primary_color;
        cursor: pointer;

    }

    }

    .logo{
        color:white;
        position:relative;
        margin:0;
        float:left;
        height:100%;
        @media screen and (max-width: 645px) {
            float:none;
            margin-bottom: 1rem;
        }
    }
    form{
        text-align: right;
        overflow:hidden;
        height:100%;
        position:relative;
    }

}

.checkboxes{

    text-align: left;
    margin-top: 1rem;

}

h2{
    font-weight: normal;
    margin-top: 5rem;
}